$black: #212529;
$dark-gray:#222529;
$white: #FFFFFF;
$light-white: #F8F9FA;
$light-gray: #656c74;
$responsive: 950px;
$gap: 1.5rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font: 16px "Open Sans", sans-serif;
  color: $black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(auto, 1fr) auto;
  position: relative;
}


*[class*="container"] {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    width: 85%;
  }
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  margin-top: 1rem;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.form {
  &-row {
    display: flex;
    flex-direction: column;
    row-gap: $gap;

    @media (min-width: $responsive) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      column-gap: clamp(20px, 3vw, 3.5rem);
    }
  }

  &-row-wide {
    display: flex;
    flex-direction: column;
  }

  &-field input {
    width: 100%;
  }
}

label {
  font-weight: 700;
  font-size: 1.5rem;
}

input,
textarea {
  margin-top: .75rem;
  padding: .75rem 1rem;
  border-radius: .75rem;
  border: 1px solid $dark-gray;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 400;
  background-color: transparent;

  &:focus {
    outline: none;
    border-width: 2px;
  }
}

textarea {
  display: block;
  line-height: 1.5;
  height: 12rem;
  resize: vertical;
}

button {
  cursor: pointer;
  display: inline;
  font-size: 1.25rem;
}