.contact {
    margin-top: 8rem;

    &__container {
        position: relative;
        margin-top: 2rem;

        @media (min-width: $responsive) {
            display: flex;
            margin-left: 0;
            margin-right: auto;
            justify-content: center;
            flex-direction: row-reverse;
            align-items: flex-start;
        }
    }

    h2 {
        font-weight: 700;
        text-align: center;
        font-size: 2.5rem;
    }

    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;

        & > * + * {
            margin-top: $gap;
        }

        @media (min-width: $responsive) {
            max-width: 550px;
            flex-grow: 1;
        }
    }

    .btn {
      width: auto;
      margin-right: auto;
    }
}
