.introduction {
    width: 100vw;
    max-width: 100vw;
    $size: 20rem;
    visibility: hidden;

    @media (min-width: 768px) {
        margin-top: 3rem;
        height: 50vmin;
        min-height: 420px;
        height: auto;
    }

    &__container {
        height: 100%;

        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: center;
            column-gap: 3rem;
            @supports not (column-gap: 3rem) {
                & > * + * {
                    margin-left: 3rem;
                }
            }
        }
    }

    &__image {
        position: relative;
        height: $size;
        width: $size;
        max-width: 100%;
        // box-shadow: 4px 4px 6px rgba(0, 0, 0, .16);
        border-radius: 0.75rem;

        &-container {
            overflow: hidden;
            border-radius: 0.75rem;
            position: absolute;
            object-fit: cover;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        @media (min-width: 769px) {
            $sizeTablet: 28vmax;
            width: $sizeTablet;
            height: $sizeTablet;
            flex-shrink: 0;
            align-self: auto;
            justify-self: auto;
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__bonjour {
        transform-origin: left top;
        position: relative;
        top: $size;
        width: 70vw;
        font-size: 2rem;
        transform: translate(10%, -50%);
        display: inline-block;
        text-align: center;
        padding: 1rem 2rem;
        font-weight: 700;
        background-color: rgba(233, 236, 239, 0.3);
        @supports not (backdrop-filter: blur(0.75rem)) {
            background-color: $white;
        }
        box-shadow: 8px 8px 9px rgba(0, 0, 0, 0.16);
        border-radius: 1.25rem;
        backdrop-filter: blur(0.75rem);
        
        @media (min-width: 768px) {
            width: 21rem;
            font-size: 3.5rem;
            top: 0;
            transform: translate(75%, 15%);
        }
    }

    &__description {
        margin-top: 6rem;

        & > * {
            overflow: hidden;

            span {
                display: block;
            }
        }

        @media (min-width: 768px) {
            margin-top: 9rem;
            width: 70%;
            max-width: 550px;
        }

        p {
            margin-bottom: 2rem;
            font-size: 1.2rem;
            font-weight: 300;
        }
    }

    &__cta {
        padding: 0.5rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: auto;

        @media (min-width: 768px) {
            justify-content: flex-start;
        }

        a {
            font-weight: 600;
            font-size: 1.5rem;
            width: auto;
        }
    }
}
