.projects {
	$size: 8rem;
	&__container {
		@media (max-width: 426px) {
			width: 90% !important;
		}
		margin-top: 1rem;
		display: grid;
		align-items: center;
		grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
		gap: calc(#{$size} / 1.5) 2rem;
		padding: calc(#{$size} / 2) 1rem;
	}
	&__title {
		padding: 0 0.5rem;
		font-size: 2.5rem;
		text-align: center;
	}
	&__project {
		justify-self: center;
		width: 100%;
		// @media (min-width: 768px) {
		// 	width: calc(50% - 3rem);
		// }
		// @media (min-width: 1920px) {
		// 	width: calc((100% / 3) - 3rem);
		// }
		align-self: stretch;
		position: relative;
		border-radius: 1rem;
		box-shadow: 8px 8px 9px rgba(0, 0, 0, 0.16);
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		background-color: $light-white;
		padding: calc(#{$size} / 1.5) 2rem calc(#{$size} / 3);
		h2 {
			margin-top: 0;
			font-weight: 700;
			margin-bottom: 2rem;
		}
		p {
			white-space: normal;
			margin-bottom: 1rem;
		}
	}
	img {
		position: absolute;
		width: $size;
		height: $size;
		border-radius: 999px;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		object-fit: cover;
	}

	& + .footer {
		margin-top: 0;
	}
}
