<div class="introduction">
  <div class="introduction__container">
    <div class="introduction__image">
      <img src="img/hippolyte-soulier.jpg" alt="Hippolyte Soulier">
      <div class="introduction__bonjour">Bonjour !</div>
    </div>
    <div class="introduction__description">
      <h1>Hippolyte Soulier</h1>
      <h2>French front-dev</h2>
      <p>
        Partisan du minimalisme et de la belle interface. J’aime créer des interfaces épurées et pratiques à utiliser du
        mobile
        au desktop. En bref, <span>
          un dev qui aime son boulot de créateur.
        </span>
      </p>
      <div class="introduction__cta">
        <a href="/projets" class="btn">Voir les projets</a>
      </div>
    </div>
  </div>
</div>

<div class="contact">
  <h2>Un petit message ?</h2>
  <div class="contact__container">
    <form action="/send-message" method="post" class="contact__form">
      <div class="form-row">
        <div class="form-field">
          <label for="name">Nom</label>
          <input type="text" id="name" name="name" placeholder="Entrez votre nom">
        </div>
        <div class="form-field">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="Entrez votre email">
        </div>
      </div>
      <div class="form-row-wide">
        <label for="message">Message</label>
        <textarea name="message" id="message" placeholder="Entrez votre message"></textarea>
      </div>
      <button type="submit" class="btn">Envoyer mon message</button>
    </form>
      <img src="/img/thumb-up.png" class="contact__thumb" alt="Pouce en l'air">
  </div>
</div>