@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none; }

html {
  scroll-behavior: smooth; }

body {
  min-height: 100vh;
  font: 16px "Open Sans", sans-serif;
  color: #212529;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(auto, 1fr) auto;
  position: relative; }

*[class*="__container"] {
  width: 80%;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 768px) {
    *[class*="__container"] {
      width: 85%; } }

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2; }

h2 {
  margin-top: 1rem;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 1.5rem; }

p {
  line-height: 1.5; }

button {
  background-color: transparent;
  border: none; }

.flex {
  display: flex; }

.form-row {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem; }
  @media (min-width: 950px) {
    .form-row {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      column-gap: clamp(20px, 3vw, 3.5rem); } }

.form-row-wide {
  display: flex;
  flex-direction: column; }

.form-field input {
  width: 100%; }

label {
  font-weight: 700;
  font-size: 1.5rem; }

input,
textarea {
  margin-top: .75rem;
  padding: .75rem 1rem;
  border-radius: .75rem;
  border: 1px solid #222529;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 400;
  background-color: transparent; }
  input:focus,
  textarea:focus {
    outline: none;
    border-width: 2px; }

textarea {
  display: block;
  line-height: 1.5;
  height: 12rem;
  resize: vertical; }

button {
  cursor: pointer;
  display: inline;
  font-size: 1.25rem; }

:root {
  --line-y: 0.35rem; }

.nav {
  padding: 2rem 0; }
  .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .nav__logo {
    font-weight: 700;
    font-size: 3rem; }
  .nav__burger {
    cursor: pointer;
    position: relative;
    z-index: 998;
    width: 1.5rem;
    padding: 1rem; }
    .nav__burger .line {
      position: absolute;
      top: 50%;
      left: 0;
      height: 3px;
      background-color: #212529;
      width: 100%; }
      .nav__burger .line-1 {
        transform: translateY(calc(-1 * var(--line-y))); }
      .nav__burger .line-2 {
        transform: translateY(var(--line-y)); }
    .nav__burger.active .line:first-of-type {
      animation: openMenuTop 1s ease-in-out forwards; }
    .nav__burger.active .line:last-of-type {
      animation: openMenuBot 1s ease-in-out forwards; }
    @media (min-width: 768px) {
      .nav__burger {
        display: none; } }
  @media (max-width: 767px) {
    .nav__links {
      position: absolute;
      background-color: #212529;
      top: 1rem;
      left: 0;
      width: calc(100% - 1rem);
      margin: 0.5rem;
      height: calc(2 * 0.5rem + 4 * 2rem + 2 * 2rem + 2 * 1rem);
      z-index: 997;
      background-color: rgba(233, 236, 239, 0.3);
      box-shadow: 8px 8px 9px rgba(0, 0, 0, 0.16);
      border-radius: 1rem;
      backdrop-filter: blur(0.75rem);
      padding: 2rem;
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      opacity: 0;
      pointer-events: none; }
      @supports not (backdrop-filter: blur(0.75rem)) {
        .nav__links {
          background-color: #ffffff; } }
      @supports not (row-gap: 1rem) {
        .nav__links > * + * {
          margin-top: 1rem; } }
      .nav__links li {
        display: flex;
        border-radius: 0;
        height: 2rem;
        overflow-y: hidden; }
      .nav__links li a {
        padding: 0.25rem 0;
        transform: translateY(100%); }
      .nav__links .btn {
        padding: 0;
        background-color: transparent;
        color: inherit; } }
  @media (min-width: 768px) {
    .nav__links {
      position: static;
      width: auto;
      height: auto;
      padding: 0;
      margin: 0;
      background-color: transparent;
      box-shadow: none;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      column-gap: 2rem;
      font-weight: 600; } }

.footer {
  font-weight: 300;
  margin-top: 4rem;
  padding: 1.5rem 0;
  text-align: center; }

.modal {
  z-index: 999;
  position: absolute;
  top: 2rem;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, calc(-100% + 1rem));
  padding: 1rem 2rem;
  background-color: rgba(233, 236, 239, 0.3);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 1.25rem;
  backdrop-filter: blur(0.75rem);
  font-size: 1.5rem;
  font-weight: 600;
  width: 80%;
  max-width: 40rem;
  text-align: center;
  animation: disappear 3s forwards .5s ease-in-out; }

@keyframes disappear {
  0% {
    transform: translate(-50%, calc(-100% + 1rem));
    opacity: 0; }
  10% {
    transform: translate(-50%, 0);
    opacity: 1; }
  90% {
    transform: translate(-50%, 0);
    opacity: 1; }
  100% {
    transform: translate(-50%, calc(-100% + 1rem));
    opacity: 0; } }

.error-404 {
  display: flex;
  justify-content: center;
  align-items: center; }
  .error-404 h1 {
    font-size: 3rem; }
  .error-404 .btn {
    display: block;
    text-align: center;
    margin: .5rem auto;
    width: max-content; }

.introduction {
  width: 100vw;
  max-width: 100vw;
  visibility: hidden; }
  @media (min-width: 768px) {
    .introduction {
      margin-top: 3rem;
      height: 50vmin;
      min-height: 420px;
      height: auto; } }
  .introduction__container {
    height: 100%; }
    @media (min-width: 768px) {
      .introduction__container {
        display: flex;
        justify-content: center;
        column-gap: 3rem; }
        @supports not (column-gap: 3rem) {
          .introduction__container > * + * {
            margin-left: 3rem; } } }
  .introduction__image {
    position: relative;
    height: 20rem;
    width: 20rem;
    max-width: 100%;
    border-radius: 0.75rem; }
    .introduction__image-container {
      overflow: hidden;
      border-radius: 0.75rem;
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    @media (min-width: 769px) {
      .introduction__image {
        width: 28vmax;
        height: 28vmax;
        flex-shrink: 0;
        align-self: auto;
        justify-self: auto; } }
    .introduction__image img {
      object-fit: cover;
      width: 100%;
      height: 100%; }
  .introduction__bonjour {
    transform-origin: left top;
    position: relative;
    top: 20rem;
    width: 70vw;
    font-size: 2rem;
    transform: translate(10%, -50%);
    display: inline-block;
    text-align: center;
    padding: 1rem 2rem;
    font-weight: 700;
    background-color: rgba(233, 236, 239, 0.3);
    box-shadow: 8px 8px 9px rgba(0, 0, 0, 0.16);
    border-radius: 1.25rem;
    backdrop-filter: blur(0.75rem); }
    @supports not (backdrop-filter: blur(0.75rem)) {
      .introduction__bonjour {
        background-color: #ffffff; } }
    @media (min-width: 768px) {
      .introduction__bonjour {
        width: 21rem;
        font-size: 3.5rem;
        top: 0;
        transform: translate(75%, 15%); } }
  .introduction__description {
    margin-top: 6rem; }
    .introduction__description > * {
      overflow: hidden; }
      .introduction__description > * span {
        display: block; }
    @media (min-width: 768px) {
      .introduction__description {
        margin-top: 9rem;
        width: 70%;
        max-width: 550px; } }
    .introduction__description p {
      margin-bottom: 2rem;
      font-size: 1.2rem;
      font-weight: 300; }
  .introduction__cta {
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto; }
    @media (min-width: 768px) {
      .introduction__cta {
        justify-content: flex-start; } }
    .introduction__cta a {
      font-weight: 600;
      font-size: 1.5rem;
      width: auto; }

.about-me {
  margin-top: 8rem; }
  .about-me h2 {
    font-weight: 700;
    text-align: center;
    font-size: 2.5rem; }
  .about-me__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .about-me__container > * + * {
      margin-top: 2rem; }
    @media (min-width: 768px) {
      .about-me__container {
        flex-direction: row;
        align-items: flex-start; }
        .about-me__container > * + * {
          margin-top: 0;
          margin-left: 2rem; } }
    .about-me__container > * {
      width: clamp(20rem, 10vw, 32rem); }
    .about-me__container > .about-me__cv {
      margin-top: 2rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
    .about-me__container h3 {
      font-size: 1.75rem; }
    .about-me__container p {
      margin-top: 1rem;
      font-weight: 300; }
      .about-me__container p span {
        font-weight: 400; }
    .about-me__container p + p {
      margin-top: 2rem; }
      @media (min-width: 768px) {
        .about-me__container p + p {
          margin-top: 0; } }

.contact {
  margin-top: 8rem; }
  .contact__container {
    position: relative;
    margin-top: 2rem; }
    @media (min-width: 950px) {
      .contact__container {
        display: flex;
        margin-left: 0;
        margin-right: auto;
        justify-content: center;
        flex-direction: row-reverse;
        align-items: flex-start; } }
  .contact h2 {
    font-weight: 700;
    text-align: center;
    font-size: 2.5rem; }
  .contact__form {
    width: 100%;
    display: flex;
    flex-direction: column; }
    .contact__form > * + * {
      margin-top: 1.5rem; }
    @media (min-width: 950px) {
      .contact__form {
        max-width: 550px;
        flex-grow: 1; } }
  .contact .btn {
    width: auto;
    margin-right: auto; }

.form-admin {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 40rem;
  background-color: #f8f9fa;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  box-shadow: 8px 8px 9px rgba(0, 0, 0, 0.1); }
  .form-admin .submit-button {
    margin-top: 1rem;
    text-align: center;
    display: flex;
    justify-content: center; }

.form-row, .form-field {
  width: 100%; }

input {
  border-radius: .25rem;
  padding: .25rem .5rem; }

.btn {
  background-color: #212529;
  color: #ffffff;
  font-family: inherit;
  padding: 0.5rem 1.25rem;
  border-radius: 0.5rem;
  display: inline-flex;
  border: none; }

.projects__inner-container {
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none; }
  .projects__inner-container ::-webkit-scrollbar {
    display: none; }

.projects__container {
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 5rem;
  padding: calc(8rem / 2) 0; }
  @supports not (column-gap: 6rem) {
    .projects__container > * + * {
      margin-top: 10rem; } }

.projects__title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 4rem; }

.projects__project {
  width: calc(100% - 1.5rem);
  position: relative;
  border-radius: 1rem;
  box-shadow: 8px 8px 9px rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f8f9fa;
  padding: 2rem;
  position: relative;
  height: 24rem; }
  @media (min-width: 768px) {
    .projects__project {
      width: calc(50% - 3rem); } }
  @media (min-width: 1920px) {
    .projects__project {
      width: calc((100% / 3) - 3rem); } }
  .projects__project h2 {
    margin-top: 0;
    font-weight: 700;
    margin-bottom: 2rem; }
  .projects__project p {
    white-space: normal;
    margin-bottom: 1rem; }

.projects img {
  position: absolute;
  width: 8rem;
  height: 8rem;
  border-radius: 999px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover; }

.projects + .footer {
  margin-top: 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none; }

html {
  scroll-behavior: smooth; }

body {
  min-height: 100vh;
  font: 16px "Open Sans", sans-serif;
  color: #212529;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(auto, 1fr) auto;
  position: relative; }

*[class*="__container"] {
  width: 80%;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 768px) {
    *[class*="__container"] {
      width: 85%; } }

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2; }

h2 {
  margin-top: 1rem;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 1.5rem; }

p {
  line-height: 1.5; }

button {
  background-color: transparent;
  border: none; }

.flex {
  display: flex; }

.form-row {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem; }
  @media (min-width: 950px) {
    .form-row {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      column-gap: clamp(20px, 3vw, 3.5rem); } }

.form-row-wide {
  display: flex;
  flex-direction: column; }

.form-field input {
  width: 100%; }

label {
  font-weight: 700;
  font-size: 1.5rem; }

input,
textarea {
  margin-top: .75rem;
  padding: .75rem 1rem;
  border-radius: .75rem;
  border: 1px solid #222529;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 400;
  background-color: transparent; }
  input:focus,
  textarea:focus {
    outline: none;
    border-width: 2px; }

textarea {
  display: block;
  line-height: 1.5;
  height: 12rem;
  resize: vertical; }

button {
  cursor: pointer;
  display: inline;
  font-size: 1.25rem; }
