@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import "../reset";
@import "../components/form";

.admin {
    &-body {
        height: 100vh;
        min-height: 650px;
        display: grid;
        grid-template-columns: 12rem auto;
        grid-template-rows: 1fr;
        gap: 2rem;
        padding: 1rem;
    }
    &-nav {
        padding: 0.5rem;
        border-radius: 0.5rem;
        background-color: $light-white;
        h1 {
            font-size: 2rem;
        }
        &__links {
            gap: 0.5rem;
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
        }
    }
}

.project-card {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    &__container {
        width: 45%;
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: whitesmoke;
    }
    &__form {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        img {
            width: 100%;
            object-fit: contain;
            height: 8rem;
        }
    }
    input,
    textarea {
        border-radius: 0;
        padding: 0.2rem;
        border: none;
        border-bottom: 1px solid $black;
    }
    .flex {
        justify-content: space-between;
    }
}
