<nav class="nav">
  <div class="nav__container">
    <div class="nav__logo"><a href="/">Hi S.</a></div>
    <div class="nav__burger">
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <ul class="nav__links">
      <li><a href="">Linkedin</a></li>
      <li><a href="">Github</a></li>
      <li><a href="">Contact</a></li>
      <li class="btn"><a href="/projets">Projets</a></li>
    </ul>
  </div>
</nav>