<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
      content="Hippolyte Soulier, développeur front-end orienté creative coding. Développeur Javascript">
    <meta name="keywords" content="Hippolye, Soulier, développeur, front-end, creative coding" />
    <meta name="author" content="Hippolyte Soulier" />
    <meta name="copyright" content="© Tous droits réservé Hippolyte Soulier" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/admin.js" defer></script>
    <title>Dashboard | Hippolyte Soulier</title>
  </head>

  <body class="admin-body">
    <div class="admin-nav">
      <h1>Bonjour,<br>{{login}}</h1>
      <nav class="admin-nav__links">
        <button class="admin-nav__link" data-link="project">Projets</button>
        <button class="admin-nav__link" data-link="contact">Contact</button>
        <button class="admin-nav__link" data-link="page">Page</button>
      </nav>
    </div>
    {{{body}}}
  </body>

</html>