<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="/js/index.js" defer></script>
    <meta name="description"
      content="Hippolyte Soulier, développeur front-end orienté creative coding. Développeur Javascript">
    <meta name="keywords" content="Hippolye, Soulier, développeur, front-end, creative coding" />
    <meta name="author" content="Hippolyte Soulier" />
    <meta name="copyright" content="© Tous droits réservé Hippolyte Soulier" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
    <title>Portfolio | Hippolyte Soulier</title>
  </head>

  <body>
    {{>navbar}}
    {{{body}}}
    {{>footer}}
  </body>

</html>