@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import "./reset";
@import "./components/form";
@import "./partials/nav";
@import "./partials/modal";
@import "./partials/404";
@import "./components/intro";
@import "./components/about";
@import "./components/contact";
@import "./components/projects";
@import "./components/admin";

.btn {
    background-color: $black;
    color: $white;
    font-family: inherit;
    padding: 0.5rem 1.25rem;
    border-radius: 0.5rem;
    display: inline-flex;
    border: none;
}
